<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>

  <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

	<!-- Reference CSS -->
	<link rel="stylesheet" th:href="@{/css/timeline.css}" />
	<link rel="stylesheet" th:href="@{/css/wrapper.css}" />
	<link rel="stylesheet" th:href="@{/css/buttons.css}" />
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
	
	<!-- javascript -->
	<script type="text/javascript" src="/js/delay.js"></script>
	
	
	<title>Train Delay</title>
</head>

<body>

<div class="container">

	<br>
	<h3>Delay Summary</h3>
	<hr>
	
	
	<div th:if="${!realTimeTrips.empty and !plannedTimeTrips.empty}">
	
	
<div class="wrapper">
	<div id="one" style="width:30%;">
		<div id='delaybox' class="box">
			<div style="text-align: center; color:white;">Delay</div>
			<div id="totaldelay" style="font-size: 2em;text-align: center; color:white;" th:text="${realTimeTrips[__${(#lists.size(realTimeTrips)-1)}__].stopRecord.fields.get('time_difference_arr')}"></div>
		</div>
				
	</div>
	<div id="two">
 	<table style="width:100%;">
	       	 <tr>
			    <th>Departure time</th>
			    <td style="padding-left: 7.5px;" th:text="${journeyRequest.startTime}"/>			    
		    </tr>	
		    <tr>
		    	<th>Departure Station</th>
			   	<td style="padding-left: 7.5px;" th:text="${journeyRequest.startStation}"/>
		   	 </tr>	
		  	<tr>
			   	<th>Arrival Station</th>
			   	 <td style="padding-left: 7.5px;" th:text="${journeyRequest.stopStation}"/>
		  	</tr>				 		  
	</table>
	<br>
	<form th:action="@{/traindata/formUpdateRouteInformation}" th:object="${journeyRequest}" method="post">
	    <input type="hidden" th:value="*{startTime}" th:field="*{startTime}" />
	    <input type="hidden" th:value="*{startStation}" th:field="*{startStation}" />
	     <input type="hidden" th:value="*{stopStation}" th:field="*{stopStation}" />
	     <input th:each="intStation,intStationIndex : *{intermediateStations}" type="hidden" th:value="*{intermediateStations[__${intStationIndex.index}__]}" th:field="*{intermediateStations[__${intStationIndex.index}__]}" />
	    		    	
	    <button type="submit" name="updateJourneyRequest" class="btn btn-primary mb-3 col-4 floated">Change Route Information</button>
	</form>	
	
	<a th:href="@{/traindata/formRouteInformation}"
		class="btn btn-primary mb-3 col-4 floated">
		Reset Route Information
	</a>
	
	</div>	
</div>
<div class="timeline">
	<div th:each="plannedtimeTrip,iter : ${plannedTimeTrips}" >
	  	  	<div th:if="${iter.first}" class="containerTimeline right" >
		    <div class="content">
		       <table>
		       	  <tr>
				    <td style="font-size: 2em; fontcolor=white" colspan="4" th:text="${plannedtimeTrip.startRecord.fields.get('ptcar_lg_nm_nl')}"/>
				  </tr>
				  <tr>
				    <td style="font-size:24px; padding:15px" class="fa fa-arrow-circle-left"/>
				    <td style="padding:0 15px" th:text="${'Planned: ' + plannedtimeTrip.startRecord.fields.get('planned_time_dep')}"/>
				    <td style="padding:0 15px" th:text="${'Realtime: ' + realTimeTrips[__${(iter.index)}__].startRecord.fields.get('real_time_dep')}"/>
				    <td style="padding:0 15px" th:text="${'Difference: ' + realTimeTrips[__${(iter.index)}__].startRecord.fields.get('time_difference_dep') + 'min'}"/>
				  </tr>				  
				</table> 		      
		       </div>
		  </div>
		  
		  <div th:if="${!iter.last}" class="containerTimeline right" >
		    <div class="content">
		       <table>
		        <tr>
				    <td style="font-size:24px; padding:15px" class="fa fa-arrow-circle-right"/>
				    <td style="padding:0 15px" th:text="${'Planned: ' + plannedtimeTrip.stopRecord.fields.get('planned_time_arr')}"/>
				    <td style="padding:0 15px" th:text="${'Realtime: ' + realTimeTrips[__${(iter.index)}__].stopRecord.fields.get('real_time_arr')}"/>
				    <td style="padding:0 15px" th:text="${'Difference: ' + realTimeTrips[__${(iter.index)}__].stopRecord.fields.get('time_difference_arr') + 'min'}"/>
				 </tr>	
		       	 <tr>
				    <td style="font-size: 2em" colspan="4" th:text="${plannedtimeTrip.stopRecord.fields.get('ptcar_lg_nm_nl')}"/>
				 </tr>
				 <tr>
				    <td style="font-size:24px; padding:15px" class="fa fa-arrow-circle-left" />
				    <td style="padding:0 15px" th:text="${'Planned: ' + plannedTimeTrips[__${(iter.index+1)}__].startRecord.fields.get('planned_time_dep')}"/>
				    <td style="padding:0 15px" th:text="${'Realtime: ' + realTimeTrips[__${(iter.index+1)}__].startRecord.fields.get('real_time_dep')}"/>
				    <td style="padding:0 15px" th:text="${'Difference: ' + realTimeTrips[__${(iter.index+1)}__].startRecord.fields.get('time_difference_dep') + 'min'}"/>
				</tr>				  
				</table> 		      
		    </div>
		  </div>		
	  
	  <div th:if="${iter.last}" class="containerTimeline right">
	    <div class="content">
	       <table>
	       	 <tr>
			    <td style="font-size:24px; padding:15px" class="fa fa-arrow-circle-right"/>
			    <td style="padding:0 15px" th:text="${'Planned: ' + plannedtimeTrip.stopRecord.fields.get('planned_time_arr')}"/>
			    <td style="padding:0 15px" th:text="${'Realtime: ' + realTimeTrips[__${(iter.index)}__].stopRecord.fields.get('real_time_arr')}"/>
			    <td style="padding:0 15px" th:text="${'Difference: ' + realTimeTrips[__${(iter.index)}__].stopRecord.fields.get('time_difference_arr') + 'min'}"/>
			  </tr>		
		       	  <tr>
				    <td style="font-size: 2em" colspan="4" th:text="${plannedtimeTrip.stopRecord.fields.get('ptcar_lg_nm_nl')}"/>
				  </tr>				 		  
				</table> 
	    </div>
	  </div>	  
  </div>
</div>
</div>
	
</div>
</body>


<footer style="padding-top: 60px; font-size: 14px; text-align: center;">
Contains data from the Open Data Infrabel platform. This data was last updated on <script> document.write(new Date().toLocaleDateString()); </script>.</footer>
</html>