<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>

  <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
	<link rel="stylesheet" th:href="@{/css/error.css}" />
	<link rel="stylesheet" th:href="@{/css/buttons.css}" />
	<link rel="stylesheet" th:href="@{/css/1.12.1-jquery-ui.css}" />
	
	
	<!-- javascript -->
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>			
	<script type="text/javascript" src="/js/jquery-clock-timepicker.min.js"></script>
	<script type="text/javascript">
		$(document).ready(function() {
			$('.standard').clockTimePicker({afternoonHoursInOuterCircle:true, precision:"5"});
		});
	</script>
	<script type="text/javascript" src="/js/1.12.1-jquery-ui.js"></script>
	
	
	
	<title>Train Delay</title>
</head>

<body>
	<div class="container">
				
		<br>
		<h3>Train Route Information</h3>		
		<hr>
		
		
		
		<form action="#" th:action="@{/traindata/getDelayInformation}"
			th:object="${journeyRequest}" method="POST" >
			
		<!--  Add hidden submit button, such that this button is the default behavior when Enter is pushed -->
		<div style="position: fixed; left: -1000px; top: -1000px">
	
			<button id="createjourney" type="submit" name="createJourney" tabindex="-1" onclick="return validateTime(document.getElementById('startTime').value)"></button>
		</div>
		
		<table id=stationsTable  class="table">
			
			
			<thead class="thead-light">
			<tr>
			<th></th>
			<th style="text-align:right"><input type="image" src="/img/add_station.png" width="90" title="Add Intermediate Station" onclick="addStationRow();return false;"></th>
						
			</tr>
			
			</thead>
			
			<tbody>
				<tr>
					<td>Departure Time</td>
					<td><input id="startTime" type="text" th:field="*{startTime}"
				class="form-control mb-2 col-4 time standard" placeholder="00:00">
				<br>
				
				<span class=required th:if="${#fields.hasErrors('startTime')}" th:errors="*{startTime}">StartTime
                            Error</span> 
                <span id="depTimeError2" class=required></span>
				</td>
				
				</tr>
				<tr>
					<td>Departure Station</td>
					<td><input type="text" data-stationindex="-1" th:field="*{startStation}"
				class="form-control mb-2 col-4" id="startstation" placeholder="Departure station">		
								
				<span class=required th:if="${#fields.hasErrors('startStation')}" th:errors="*{startStation}">StartStation
                            Error</span>
                            </td>
				</tr>	
			
				<tr th:each="intStation,intStationIndex : *{intermediateStations}">                  
	                  <td th:text="${'Intermediate Station ' + intStationIndex.count}"></td>
	                  <td>
	                  	<input data-stationindex="${intStationIndex.index}" type="text" th:field="*{intermediateStations[__${intStationIndex.index}__]}"
							class="form-control mb-2 col-4 floated" placeholder="Intermediate Station">
							<input class="floated" width="35" type="image" src="/img/remove.png" title="Remove Intermediate Station" onclick="removeStationRow(this)">
							
							<br>
							<br>
						 <span class=required th:if="${#fields.hasErrors('intermediateStations[__${intStationIndex.index}__]')}" th:errors="*{intermediateStations[__${intStationIndex.index}__]}">IntermediateStation
                            Error</span>
				                  
	                  </td>
               	</tr>
                	
				<tr>
					<td>Arrival Station</td>
					<td><input type="text" th:field="*{stopStation}"
				class="form-control mb-2 col-4" id="stopstation"  placeholder="Arrival station">
				<span class=required th:if="${#fields.hasErrors('stopStation')}" th:errors="*{stopStation}">Stopstation
                            Error</span>
                     </td>
				</tr>
				
			
			</tbody>
		</table>			
			
			<button id="createjourney" type="submit" name="createJourney" class="btn btn-primary btn-lg btn-block" onclick="return validateTime(document.getElementById('startTime').value)">Get Delay</button>
			
		</form>
		
	</div>
</body>	
<script src="/js/table.js"></script>
<script src="/js/stations.js"></script>	
<script src="/js/validatetime.js"></script>

<footer style="padding-top: 60px; font-size: 14px; text-align: center;">
Contains data from iRail.
</footer>

</html>