<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>

  <!-- Required meta tags -->
    <meta charset="utf-8">    
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

	<!-- Reference CSS -->
	<link rel="stylesheet" th:href="@{/css/buttons.css}" />
	
	
	
	<title>Train Delay</title>
</head>


<body>
<div class="container">
<br>
	<h3>Delay Summary</h3>
	<hr>
	
	  <div class="alert alert-warning">
    <strong>No route found for the given information.</strong>
      </div>
    
    <div>
 	<table style="width:50%;">
	       	 <tr>
			    <th>Departure time</th>
			    <td style="padding-left: 7.5px;" th:text="${journeyRequest.startTime}"/>
			  
		    </tr>	
		    <tr>
		    	<th>Departure Station</th>
			   	<td style="padding-left: 7.5px;" th:text="${journeyRequest.startStation}"/>
		   	 </tr>		 
		   	  
		   	      <tr th:each="intStation,intStationIndex : ${journeyRequest.intermediateStations}">                  
	                  <th th:text="${'Intermediate Station ' + intStationIndex.count}"></th>
	                  <td style="padding-left: 7.5px;" th:text="${journeyRequest.intermediateStations[__${intStationIndex.index}__]}"/>
	             
               	</tr>
               	
               	
               	
		  	<tr>
			   	<th>Arrival Station</th>
			   	 <td style="padding-left: 7.5px;" th:text="${journeyRequest.stopStation}"/>
		  	</tr>				 		  
	</table>
	
	
	<br>
	<form th:action="@{/traindata/formUpdateRouteInformation}" th:object="${journeyRequest}" method="post">
	    <input type="hidden" th:value="*{startTime}" th:field="*{startTime}" />
	    <input type="hidden" th:value="*{startStation}" th:field="*{startStation}" />
	     <input type="hidden" th:value="*{stopStation}" th:field="*{stopStation}" />
	   	 <input th:each="intStation,intStationIndex : *{intermediateStations}" type="hidden" th:value="*{intermediateStations[__${intStationIndex.index}__]}" th:field="*{intermediateStations[__${intStationIndex.index}__]}" />
	   	    
	    <button type="submit" name="updateJourneyRequest" class="btn btn-primary btn-sm mb-3 floated">Change Route Information</button>
	</form>	
	
	<a th:href="@{/traindata/formRouteInformation}"
		class="btn btn-primary btn-sm mb-3 floated">
		Reset Route Information
	</a>
	
	</div>	



	
	

</div>

</body>