* {
  box-sizing: border-box;
}


/* The actual timeline (the vertical ruler) */
.timeline {
  position: relative;
  max-width: 1200px;
  margin: 0 auto;
}

/* The actual timeline (the vertical ruler) */
.timeline::after {
  content: '';
  position: absolute;
  width: 8px;
  background-color: #dee2e6;
  top: 20px;
  bottom: 125px;
  left: 31px;
  margin-left: -3px;
}

/* Container around content */
.containerTimeline {
  padding: 10px 40px;
  position: relative;
  background-color: inherit;
  width: 100%;
  padding-left: 70px;
  padding-right: 25px;
  left: 0;
}

/* The circles on the timeline */
.containerTimeline::after {
  content: '';
  position: absolute;
  width: 35px;
  height: 35px;
  left: 15px;
  background-color: #dee2e6;
  border: 4px solid #FF9F55; /* 0275d8*/
  top: 13px;
  border-radius: 50%;
  z-index: 1;
}



/* Add arrows to the right container (pointing left) */
.right::before {
  content: " ";
  height: 0;
  position: absolute;
  top: 22px;
  width: 0;
  z-index: 1;
  left: 60px;
  border: medium solid #dee2e6;
  border-width: 10px 10px 10px 0px;
  border-color: transparent #dee2e6 transparent transparent;
}


/* The actual content */
.content {
  padding: 20px 30px;
  background-color: #dee2e6;
  position: relative;
  border-radius: 6px;
}