.wrapper { 
  overflow:hidden;
}

.wrapper div {
   padding: 10px;
}
#one {
  float:left; 
  margin-right:20px;
}
#two { 
  overflow:hidden;
  margin:10px;  
}

.box{
  height: 160px;
  width: 160px;
  border-radius: 10%;
  margin-left:65px;
}


@media screen and (max-width: 800px) {
   #one { 
    float: none;
    margin-right:0;
    width:auto;
  }
  #two { 
    margin-left:65px;
  }
}